@model IEnumerable<ApiRefr.WeatherForecast>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemperatureF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemperatureC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperatureF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemperatureC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
        </tr>
    }

</table>